.dashboard-wrapper {
  height: 100%;
  padding: 0;
}

.dashboard-header {
  background-image: linear-gradient(-45deg, #125188, #0f6aa2);
}

.dashboard-mb-2 {
  margin-bottom: 0.5rem !important;
}

.profile-name {
  .div:first-child {
    position: absolute;
  }
}

.profile-icon {
  min-height: 4rem;
  margin-top: 1rem;
}

.profile-name {
  color: #fff;
  overflow-wrap: anywhere;
}

.dashboard-title-inner {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  bottom: 1.6rem;
  /* background: linear-gradient(160deg, #ffdee9, #b5fffc) !important; */
}

.dashboard-title-inner {
  background: linear-gradient(
    160deg,
    lighten(#125188, 50%),
    lighten(#0f6aa2, 35%)
  ) !important;
}
