<app-loader [showLoader]="showLoader"></app-loader>
<div class="dashboard-wrapper container-fluid">
  <div class="dashboard-header angular-flex-top angular-nav">
    <div class="col-10 d-flex angular-pr-2 angular-pl-0">
      <div class="d-flex flex-row w-100">
        <div class="angular-mr-2 profile-icon">
          <!-- Will change to svg img loader component-->
          <img src="../../../src/assets/icons/profile.svg" alt="profile">
        </div>
        <div class="profile-name d-flex align-items-center flex-grow-1 text-capitalize">
          <div class="content-inline base-normal-UI-0">
            <div>sanjay dayalan</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1 d-flex angular-pr-2">
      <div class="d-flex flex-row w-100">
        <div class="angular-ml-3 angular-mt-2">
          <!-- Will change to svg img loader component-->
          <img src="../../../src/assets/icons/logout.svg" alt="logout">
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex angular-pl-3 angular-pr-3 dashboard-title">
    <div class="w-100">
      <div class="card-layout lvl-2 dashboard-title-inner content-center">
        <div class="secondary-strong-UI-6 angular-p-4 text-capitalize">
          <div>DASHBOARD {{dashTitle}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="angular-ml-3 angular-mr-3">
    <ng-container *ngFor="let data of dataArray">
      <div class="angular-mt-3 angular-mb-3">
        <div>
          <div class="card-layout lvl-1 angular-p-3">
            <app-label [title]="data.title" [value]="data.value" [desc]="data.desc"></app-label>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
