<div *ngIf="showSplashScreen" class="app-splash-screen intro-screen-wrapper" [ngStyle]="{ left: windowWidth }">
  <div class="app-splash-screen-inner">
    <div class="angular-pb-6">
       <!-- Will change to svg img loader component-->
      <img src="../../../../src/assets/images/Logo.png" alt="GOWIN LOGO">
    </div>
    <div class="secondary-normal-UI-0">PRAYAG TECHNOLOGIES</div>
    <div class="splash-screen-loader"></div>
  </div>
</div>
