.app-splash-screen {
  /* background: linear-gradient(135deg, #125188, #0F6AA2); */
  background: linear-gradient(160deg, #0093e9, #80d0c7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.app-splash-screen-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-screen-loader {
  background: url(../../../../src/assets/icons/three-dots.svg);
  background-repeat: no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;
  width: 8rem;
  height: 8rem;
  margin-top: 8rem;
}
