.angular-wrapper {
  background: url(../../../src/assets/images/demo-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 20rem;
}

.btn-outer-container {
  position: relative;
  bottom: 40rem;
}

.align-left {
  width: 33.33333%;
  text-align: left;
}

.align-centre {
  width: 33.33333%;
  text-align: center;
  white-space: nowrap;
}

.align-right {
  width: 33.33333%;
  text-align: right;
}

.footer-content {
  display: flex;
  flex-flow: row wrap;
  border-top: 1px solid #ffffff;
  position: relative;
  bottom: 15rem;
}
