<div *ngIf="state !== 'normal'" class="svg-shimmer {{updateShimmer}}" [style.height.rem]="heightSize"
  [style.width.rem]="widthSize"></div>

<span *ngIf="state === 'normal'" [style.background-size.rem]="backgroundSize" [style.height.rem]="heightSize"
  [style.width.rem]="widthSize"></span>
