@import "../../styles/variables";

.app-loader-screen {
  opacity: 0.5;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: lighten($background, 10%);
  -webkit-transition: bottom 0.2s;
  transition: bottom 0.2s;
}

.app-splash-screen-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gowin-logo {
  -webkit-animation: loading 1s linear;
  animation: loading 1.5s ease alternate infinite;
}

@-webkit-keyframes loading {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loading {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
