<div *ngIf="showLoader" class="app-loader-screen" [ngStyle]="{ bottom: windowHeight }">
  <div class="app-loader-screen-inner">
    <div class="angular-pb-6">
      <!-- Will change to svg img loader component-->
      <img class="gowin-logo" src="../../../../src/assets/icons/logo.svg" alt="GOWIN LOGO">
    </div>
  </div>
</div>
