/* You can add global styles to this file, and also import other style files */

@import "../project/src/styles/app.scss";

html {
  height: 100%;
  overflow: auto;
  font-size: 10px;
}

body {
  margin: 1.2rem;
  height: 100%;
  overflow: hidden;
  font-family: Inter, "SoSora" !important;
}
